<span id="space-top"></span>
@if (!isMobile()){
<nav class="navbar" mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="end"
  fitInkBarToContent>
  <img src="assets/sumerge_logo_white_dim_small.png" alt="App Logo" class="logo" />
  <a matRipple [matRippleUnbounded]='true' routerLink="login" class="btn" aria-label="Logout" matTooltip="Logout">
    <i class="fa-solid fa-right-from-bracket"></i>
  </a>
  <a matRipple [matRippleUnbounded]='true' routerLink="profile" class="btn" aria-label="Profile" matTooltip="My Profile">
    <i class="fa-solid fa-user"></i>
  </a>
  <!-- TODO: not functioning yet -->
  <a matRipple [matRippleUnbounded]='true' class="btn" aria-label="Notifications" matTooltip="Notifications">
    <i class="fa-solid fa-bell"></i>
  </a>
  <span class="spacer" aria-hidden="true"></span>

  @for (link of links; track link) {
  <a mat-tab-link [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: true }" [active]="rla.isActive">
    {{ link.label }}
  </a>
  }
</nav>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
} @else {
<mat-toolbar class="navbar">
  <a matRipple [matRippleUnbounded]='true' (click)="snav.toggle()"  class="btn"><i class="fa-solid fa-bars"></i></a>
  <img src="assets/sumerge_logo_white_dim_small.png" alt="App Logo" class="logo" />

  <span class="spacer" aria-hidden="true"></span>
  <!-- <a matRipple [matRippleUnbounded]='true' routerLink="home" class="btn" aria-label="Home">
    <i class="fa-solid fa-house"></i>
  </a> -->
  <!-- TODO: not functioning yet -->
  <a matRipple [matRippleUnbounded]='true' class="btn" aria-label="Notifications" matTooltip="Notifications">
    <i class="fa-solid fa-bell"></i>
  </a>
  <a matRipple [matRippleUnbounded]='true' routerLink="profile" class="btn" aria-label="Profile" matTooltip="My Profile">
    <i class="fa-solid fa-user"></i>
  </a>
  <a matRipple [matRippleUnbounded]='true' routerLink="login" class="btn" aria-label="Logout" matTooltip="Logout">
    <i class="fa-solid fa-right-from-bracket"></i>
  </a>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav mode="over" [fixedInViewport]="true" fixedTopGap="56" [autoFocus]="false">
    <mat-nav-list>
      @for (link of links; track link) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive  #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }" [class.mdc-list-item--activated]='rla.isActive'>
        {{ link.label }}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>
}
<!-- navbar should have learnings, wikis, blogs, and career package -->
<!-- for guests, will only have blogs -->
<!-- for admins, should also have an extra link for employee editing? -->
<!-- should be sticky -->


<!-- <ng-container *ngComponentOutlet="getDashboardComponent()" /> -->
<!-- authService = inject(AuthService);
  getDashboardComponent(){
    return (this.authService.user?.roles.has("EMPLOYEE"))? EmployeeDashboardComponent : GuestDashboardComponent;
  }
 -->