.navbar {
  position: fixed;
  top: 0;
  background-color: var(--mat-sys-primary-container);
  width: 100%;
  z-index: 1000;
  /* this is to make backdrop for notifications dialog under navbar, but it breaks tooltips [kind of]*/
}

mat-nav-list {
  background-color: var(--mat-sys-primary-container);
}

mat-toolbar {
  overflow-y: hidden;
  overflow-x: auto;
  height: 3.5rem;
  /* z-index: 9999; */
}


/* this is to prevent top from overlapping nav */
#space-top {
  display: block;
  height: 3rem;
  max-height: 3rem;
  pointer-events: none;
}

.logo {
  align-self: center;
  max-height: 1.5rem;
  flex: 0 0 auto;
  padding: 3px;
  padding-left: 10px;
}

.spacer {
  flex: 1 1 auto;
  min-width: 10px;
}

.btn {
  font-size: 1.2rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: var(--mat-sys-primary);
  align-self: center;
  transition-delay: 100ms;
  transition: color 150ms linear;
}

.btn:hover {
  color: var(--mat-sys-on-primary-container);
}

/* TODO: make backdrop animate into view instead of that grey appearing suddenly when opening sidenav
 width animation isn't too bad but not great either. i need it to be animated one way as well, right now it animates when closing the panel as well, which we don't want. */
/* mat-sidenav-container {
  width: 0;
  height: 0;

  will-change: width height;
  transition-duration: 400ms;
  transition-delay: 0ms;
  transition-timing-function: ease-out;
  transition-property: width height;
} */

mat-sidenav-container.mat-drawer-container-has-open {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  inset: 0;
}

@media (max-width: 600px) {
  .logo {
    content: url("/assets/sumerge_logo_white_small.png");
    max-height: 2rem;
  }

  .btn {
    font-size: 2rem;
    /* margin-right: 0.7rem; */
  }

  #space-top {
    height: 3.5rem;
    max-height: 3.5rem;
  }
}


/* For notification panel */
a {
  cursor: pointer;
}
.cdk-overlay-container {
    z-index: 100;
}
