nav {
  /* TODO: this doesn't stick to top after one viewport-height-scroll */
  /* position: sticky;
  top: 0; */
  position: fixed;
  top:0;

  background-color: var(--mat-sys-primary-container);
  width: 100%;
}
/* this is to prevent top from overlapping nav */

/* TODO: make nav collapse to a menu or something for */
/*viewports with very tiny height (smaller than nav) */
#space-top {
  display: block;
  height: 2rem;
  max-height: 2rem;
}
.logo {
  align-self: center;
  max-height: 2rem;
  flex: 0 0 auto;
  padding: 3px;
  padding-left: 10px;
}

.spacer {
  flex: 1 1 auto;  
  min-width: 0;    
}

@media (max-width: 600px) {
  .logo {
    content: url("/assets/sumerge_logo_white_small.png"); 
  }
}


.logout-btn {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: var(--mat-sys-primary);
  align-self: center;
  transition-delay: 100ms;
  transition: color 150ms linear;
}
.logout-btn:hover { color: var(--mat-sys-on-primary-container); }
