#component-wrapper {
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
    flex-wrap: wrap;
}

.input-container {
    width: 50vw;
    height: 50px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--mat-sys-secondary-container), var(--mat-sys-primary-container));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    padding: 0 12px;
    position: relative;
    transition: position 5s linear;
}

.icon {
    margin-right: 10px;
    color: var(--mat-sys-secondary);
    font-size: 1.5rem;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.input {
    flex: 1 1 auto;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--mat-sys-surface);
    border-radius: 30px;
    padding-left: 15px;
}



.loading-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* TODO: make animation here smoother bc it's choppy, there's a bit of a jump when we go from userfound() === true to userfound() === false */
.result-wrapper {
    max-height: 0;
    overflow: hidden;
    display: contents;
    transition: max-height 0.75s ease-in-out, display 0.75s ease-in-out;
}

.result-wrapper.visible {
    display: block;
    max-height: 100dvh;
    max-height: 100vh;
    transition: max-height 0.75s ease-in-out, display 0.75s ease-in-out;
}

.error {
    background-color: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
    box-shadow: var(--mat-sys-level1);
    padding: 10px;
    text-align: center;
}

mat-card {
    padding: 8px;
    margin: 8px;
    height: 50dvh;
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: stretch;
    max-width: 50vw;
    min-width: min-content;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    overflow-y: auto;
    overflow-x: hidden;
}

.mat-mdc-chip-set {
    max-width: min-content;
}


@media(max-width: 600px) {
    .input-container {
        width: 90vw;
        height: 100px;
    }

    .input {
        height: 80px;
    }

    mat-card {
        width: 90vw;
        max-width: 90vw;
    }
}


.user-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin: 8px;

    th,
    td {
        text-align: left;
        padding: 8px 12px;
    }

    tr:not(:last-child) {
        border-bottom: 1px solid var(--mat-divider-color, rgba(0, 0, 0, 0.12));
    }
}

.editable-text-box {
    background-color: var(--mat-sys-surface);
    border-radius: 5px;
    padding-left: 10px;
    width: 100%;
    display: inline-block;
    height: var(--mat-sys-body-medium-line-height);
    align-content: center;
}

.editable-text-box[contenteditable='false'] {
    pointer-events: none;
    color: gray;
    opacity: 0.6;
}