// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '_theme-colors' as *;

//magenta: #CF378C
//yellow: #F0B744
//cyan: #73BFE5
//grey: #BBBDC1
:root {
  --my-primary: #302b7e;
  --my-secondary: #6ebda6;
  --my-tertiary: #cf378c;
  // --mat-sys-primary: #302b7e;
  // --mat-sys-on-primary-container: #383291;
}

html {
  @include mat.theme((color: (primary: $primary-palette,
        tertiary: $tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  margin: 0;
  padding: 0;
  // width: 100vw;
  min-height: 100%;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  padding: 0;
  // width: 100vw;
  min-height: 100%;
}

/* Global heading + text style overrides */
h1 {
  font: var(--mat-sys-headline-large);
  color: var(--mat-sys-primary);
  margin-bottom: 1rem;
}

h2 {
  font: var(--mat-sys-headline-small);
  color: var(--mat-sys-primary);
  margin-bottom: 0.75rem;
}

h3 {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-on-surface);
  margin-bottom: 0.5rem;
}

* {
  box-sizing: border-box;
}

:root {
  //  @include mat.toolbar-overrides((
  // container-background-color: var(--mat-sys-primary),
  // container-text-color: var(--mat-sys-on-primary),
  // container-height: 64px,
  // row-padding: 16px,
  // title-text-font: var(--mat-sys-title-large),
  // title-text-color: var(--mat-sys-on-primary),
  // icon-color: var(--mat-sys-on-primary)
  // ));
  @include mat.tabs-overrides((active-indicator-height: 5px,
      // active-indicator-shape: rounded, // doesn't work, so check style below this
      active-focus-indicator-color: var(--mat-sys-on-primary-container),
      active-focus-label-text-color: var(--mat-sys-on-primary-container),
      active-hover-indicator-color:var(--mat-sys-on-primary-container),
      active-hover-label-text-color:var(--mat-sys-on-primary-container),
      active-indicator-color: var(--mat-sys-on-primary-container), //
      active-label-text-color:var(--mat-sys-on-primary-container), //
      active-ripple-color: var(--mat-sys-on-primary-container),

      divider-color: var(--mat-sys-on-primary-container),

      inactive-focus-label-text-color: var(--mat-sys-on-primary-container),
      inactive-hover-label-text-color:var(--mat-sys-on-primary-container),
      inactive-label-text-color: var(--mat-sys-primary), //
      inactive-ripple-color: var(--mat-sys-on-primary-container),
      pagination-icon-color: var(--mat-sys-on-primary-container),
      // disabled-ripple-color:,
    ));
  @include mat.sidenav-overrides((container-background-color: var(--mat-sys-primary-container),
      // container-text-color: red,
      // content-text-color: red
    ));
  @include mat.list-overrides((list-item-label-text-color: var(--mat-sys-primary),
      list-item-label-text-weight: var(--mat-tab-label-text-weight, var(--mat-sys-title-small-weight)),
      list-item-hover-label-text-color: var(--mat-sys-on-primary-container),
      list-item-focus-label-text-color: var(--mat-sys-on-primary-container),
      // active-indicator-color: var(--mat-sys-primary, 70)
    ));
}


// @include mat.sidenav-theme($my-theme);
.mat-mdc-tab-nav-bar .mdc-tab-indicator__content--underline {
  border-radius: 9999px !important;
}

// TODO: hover colors for mat-list so sidenav hover is pretty. also focus-background-color

.cdk-overlay-pane .mat-mdc-dialog-surface {
    overflow: visible; /* allow the caret to extend outside */
    position: relative; 
    /* border-radius: 0px; */
}

// TODO: this makes tooltip go above navbar, but doesn't work when notifications panel is open for some reason
.mat-mdc-tooltip-panel {
  overflow: visible;
}

// .mat-mdc-dialog-container {
//   width: 100vw;
// }
@media (max-width: 600px){
.cdk-global-overlay-wrapper {
  justify-content: space-around !important;
}
}




.mat-mdc-paginator-navigation-next {
  pointer-events: auto !important;
  opacity: 1 !important;
}
