<main>
    <mat-card>
        <h2>Create an account!</h2>
        <section id="input-fields">
            <section id="full-name">
                <app-field-component #firstname name="first name"
                    [field]="signupForm.controls['firstname']"></app-field-component>
                <app-field-component #lastname name="last name"
                    [field]="signupForm.controls['lastname']"></app-field-component>
            </section>
            <app-field-component #username name="username"
                [field]="signupForm.controls['username']"></app-field-component>
            <app-field-component #password name="password"
                [field]="signupForm.controls['password']"></app-field-component>
        </section>

        @if (errorState()){
        <p class="error">{{errorMessage()}}</p>
        }

        <a matButton="filled" (click)="tryToAuthenticate($event)" (keydown.enter)="tryToAuthenticate($event)">Signup</a>
        <a matButton routerLink="/login">I already have an account</a>
        @if (isLoading()){
            <mat-spinner [diameter]="50" [strokeWidth]="10"></mat-spinner>
        }
    </mat-card>
</main>