mat-card {
    padding: 8px;
    display: flex;
    align-items: stretch;
    max-width: 25vw;
    min-width: min-content;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
}


h2 {
    text-align: center;
}

.error {
    background-color: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
    box-shadow: var(--mat-sys-level1);
    padding: 10px;
    text-align: center;
}

#input-fields {
    margin-bottom: 20px;
    width: 100%;
}

main {
    background-image: url('/assets/background-image-min.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    height: 100vh; 
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
}
main::before {
  content: "";
  position: fixed;
  inset: 0;
  background: var(--mat-sys-background);
  opacity: 0.5; 
}