#component-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

.flip-card {
  position: relative;
  /* needed for absolute overlay */
  width: 240px;
  height: 400px;
  min-width: 240px;
  min-height: 400px;
  perspective: 1000px;
  color: white;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* flip when checkbox checked */
.flip-toggle {
  display: none;
}

.flip-toggle:checked~.flip-card-inner {
  transform: rotateY(180deg);
}

/* card faces */
.flip-card-front,
.flip-card-back {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
  background: var(--my-primary);
  height: 400px;
  flex-wrap: wrap;
  flex-direction: column;
}

.flip-card-front {
  justify-content: flex-end;
}

/* back is rotated */
.flip-card-back {
  transform: rotateY(180deg);
}

/* clickable overlay that always sits above faces */
.flip-overlay {
  height: 100%;
  position: absolute;
  inset: 0;
  cursor: pointer;
  background: transparent;
  z-index: 10;
  /* ensures it stays clickable */
  border-radius: inherit;
}




.gradient-box {
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, var(--my-primary), var(--my-secondary));
  color: white;
  display: block;
  align-items: center;
  align-content: center;
  text-align: center;
  /* padding-left: 10px; */
  font-weight: bold;
  border-radius: 8px;

}

.not-bold {
  display: inline-block;
  font-weight: normal;
  line-height: var(--mat-sys-body-medium-line-height);
}

img {
  width: 100%;
  pointer-events: none;
  padding: 10px;
}


#user-profile {
  height: 80%;
  padding: 0;
  pointer-events: none;
}